/**
custom css k projektu
*/

body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #e4e4e4;
    font-weight: 300;
}

.row{
	margin: 0px !important;
}

.content{
	padding-bottom: 100px;
}

.top-bottom {
	background-color: white;
	color:white;
	height: 80px;
}

.my-custom-table thead tr {
	background-color: #e4e4e4;
	border-bottom: 20px solid #e4e4e4;
	padding: 10px;
}

.my-custom-table-thead-td {
	border: none;
	padding: 10px;
}

.my-custom-table tr { 
	border: none;
	background-color: white;
	border-bottom: 20px solid #e4e4e4;
}

.my-custom-table td {
	border: none;
	padding: 10px;
}

.free-seat{
	min-width: 25px;
	height: 25px;
	margin: 5px;
	border-radius: 5px;
	text-align: center;
	background-color: burlywood;
	cursor: pointer;
}

.selected-seat{
	width: 25px;
	height: 25px;
	margin: 5px;
	border-radius: 5px;
	text-align: center;
	background-color: blueviolet;
	cursor: not-allowed;
}

.occupied-seat{
	width: 25px;
	height: 25px;
	margin: 5px;
	border-radius: 5px;
	text-align: center;
	background-color: darkcyan;
	cursor: not-allowed;
}

@media only screen and (max-width: 800px) {

	.my-custom-table table,
	.my-custom-table thead,
	.my-custom-table tbody,
	.my-custom-table th,
	.my-custom-table td,
	.my-custom-table tr {
		display: block;
	}
	 
	.my-custom-table thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	 
	.my-custom-table tr { 
		border: none;
		background-color: white;
		margin-bottom: 20px;
		padding: 10px;
	}
	  
	.my-custom-table td {
		border: none;
		position: relative;
		padding-left: 50%;
		white-space: normal;
		text-align:left;
	}
	 
	.my-custom-table td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
	 
	.my-custom-table td:before { 
		content: attr(data-title); 
	}
}

.usrtooltip {
    position: relative;
    display: inline-block;
}

.usrtooltip .usrtooltiptext {
	color: white;
	position: absolute;
    visibility: hidden;
    min-width: 120px;
    background-color: #5b9b7e;
    border-radius: 6px;
    padding: 5px;
    z-index: 1;
    margin-left: 8px;
}

.usrtooltip:hover .usrtooltiptext {
    visibility: visible;
}